@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --color-bg: #a6d6fd;
    --color-primary: #6f9dff;
    --color-secondary: #9fd1ff;
    --color-dark: #333;
    --color-light: #fff;
    --color-gray: #777;
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-dark);
    line-height: 1.6;
    text-align: justify;
}

/* header */
.header {
    background: var(--color-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
    max-height: 5rem;
}
.headerLinks{
    display: flex;
    justify-content: space-between;
    width:80%;
    align-items: center;
}
.headerLinks a {
    text-decoration: none;
    color: var(--color-dark);
    margin: 0 1rem;
    transition: var(--transition);  
}

.headerLinks a:hover {
    color: var(--color-primary);
}

.curriculum {
    background: var(--color-primary);
    color: var(--color-light);
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: var(--transition);
}

.curriculum:hover {
    background: var(--color-secondary);
}

.mainSection {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
}

/* intro */
.introBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    background-color: var(--color-light);
    min-height: 60rem;
    height: auto;
    gap: 2rem;
}
.introBox h1{
    font-size: 2rem;
    color: var(--color-primary);
    text-align: center;
}
.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.introData{
    display: flex;
    flex-direction: column;
    flex:1;
    max-width: 60%;
}

.description, .aboutText {
    margin: 1rem;
}
.technologies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.technologies svg, .technologie{
    width: 3rem;
    height: 3rem;
    display: block;
    flex: 0 0 auto;
}

.logoIntro{
    border-radius: 20%;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.reachMeIntro{
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-light);
    padding: 0.7rem 5rem;
    border-radius: 25px;
    text-decoration: none;
    transition: var(--transition);
    max-width: 25rem;
}
.reachMeIntro:hover {
    background-color: #3c75f1;
}

/* sections */
section {
    padding: 3rem 2rem;
}

h1 {
    margin-bottom: 1.5rem;
    color: var(--color-primary);
}


/* Projects */
.projectsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.projectsTitle{
    color: var(--color-dark);
}

.project {
    background: var(--color-light);
    border-radius: 15px;
    overflow: hidden;
    transition: var(--transition);
}

.project:hover {
    transform: translateY(-5px);
}

.projectData {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1rem;
    height: 100%;
}

.projectTitle {
    color: var(--color-primary);
}

.projectTags {
    display: flex;   
    justify-content: center;
    gap:0.4rem; 
    flex-wrap: wrap;
}

.tag {
    background: var(--color-bg);
    padding: 0.3rem 0.6rem;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-bottom: 0;
}

/*Contact*/
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:10rem;
    margin-bottom: 1rem;
}

.icon{
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 5px;
    
}

.icon:hover {
    transform: translateY(-5px);
}

.phone svg, .email svg{
    width: 13rem;

}
/*
.git, .linkedin {
    width: 3rem;
    height: 150px;
    border-radius: 5px;
}*/




/* Footer */
.footer {
    text-align: center;
    padding: 2rem;
    background: var(--color-light);
    color: var(--color-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Tablet*/
@media (max-width: 1024px) and (min-width: 768px) {
    .header {
        flex-direction: column;
        padding: 1rem;
    }

    .headerLinks {
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .intro {
        flex-direction: column;
        gap: 1.5rem;
    }

    .introData {
        max-width: 100%;
    }

    .logoIntro {
        max-height: 20rem;
    }

    .logoIntro img{
        display: none;
    }

    .projectsContainer {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .icons {
        gap: 5rem;
    }
}

/* Movil */
@media (max-width: 767px) {
    .intro {
        flex-direction: column;
        gap: 1rem;
    }

    .introData {
        max-width: 100%;
    }

    .introBox {
        padding: 2rem 1rem;
        max-width: 100%;
    }

    .introBox h1 {
        font-size: 1.5rem;
    }

    .logoIntro img{
        display: none;
    }

    .projectsContainer {
        max-width: 100%;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .technologies svg, .technologie {
        width: 2.5rem;
        height: 2.5rem;
    }

    .icons {
        gap: 2rem;
    }

    .reachMeIntro {
        padding: 0.5rem 3rem;
        max-width: 100%;
        text-align: center;
    }
}

